body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  --color-gray: #ebf0f6;
  --color-aqua: #98ccd3;
  --color-blue: #364e68;
  --color-navy: #132238;
}

a {
  text-decoration: none;
}

.option, .settings-option, .settings-exit, img, .geoffie-landing-header  {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}